<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form id="formLogin">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control w-50 m-auto" type="email" name="email" required />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control w-50 m-auto" type="password" name="password" required />
      </div>
    </div>
    <button class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
  </form>
</div>


<script>
  const formLogin = document.getElementById("formLogin");

  formLogin.addEventListener("submit", async (event) => {
    try {

      event.preventDefault();

      let formData = new FormData(formLogin);

      let response = await fetch("/api/v1/login", {
        method: "POST",
        body: formData
      });

      let data = await response.json();

      alert(data.message);

      if (response.status == 200) {
        localStorage.setItem("token", data.token);
        localStorage.setItem("usuario", JSON.stringify(data.usuario));
        location.href = "/"
      }


    } catch (error) {
      localStorage.clear();
      alert("Error al intentar iniciar sesión.");
    }
  })

</script>